/front_old
front_reducks
front_sample
.stella_postgre
.stella_mongo
api_postgre
.django
.vscode
.dev
.sample
.sample2
.stella
tmp
stella
requirements.txt
database.xlsx
bg_concept.xcf
HatchfulExport-All
credentials
.env
logs
